body {
  background-color: rgb(39, 39, 39);
  background-repeat: repeat;
  background-size: cover;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
}

.formulario {
  background-color: rgb(22, 22, 22);
  width: 350px;
  margin: 0 auto;
  height: auto;
  border-radius: 10%;
  padding-bottom: 20px;
  border: solid 5px rgba(41, 127, 43, 0.415);
  box-shadow: 15px 10px 5px #b3740048;
}

.formulario hr {
  opacity: 40%;
}

.formulario input {
  padding: 6px 10px;
  border: 1px solid #000000;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Nanum Gothic', sans-serif;
}

.formulario input[type="submit"] {
  padding: 8px 70px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}